#carousel-homepage {
    margin-bottom: 20px;
}

.clearfix {
	content: '';
	clear: both;
	display: table;
}

#map-service #map-description {
	margin: 0;
	float: left;
    width: 35%;
    padding: 2%;
}

#map-service #map {
	float: left;
	height: 450px;
    width: 60%;
    margin: 2% 2.5%;
}
