#service #service-type {
  text-align: center;
  font-size: 18px; }

#service #service-component {
  font-size: 16px;
  padding: 20px; }
  #service #service-component img {
    margin: 20px 0; }
  #service #service-component #fields .field {
    margin: 20px 0; }
