.starter-template{
    margin-top: 60px;
    padding: 40px 18px;
}
form{
    width: 400px;
    max-width: 400px;
}
.form-control{
    margin: 15px 0px;
}
.alert{
    width: 400px;
    max-width: 400px;
}
