{% extends 'admin.twig' %}

{% block content %}
    <br/><br/><br/>
<h3>Add region</h3><br/>
<form method="post" action="">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required />
    </div>
    <div class="form-group">
        <label for="code">Code</label>
        <input type="text" id="code" name="code" required/>
    </div>
    <div class="form-group">
        <label for="city">City</label>
        <input type="text" id="city" name="city" />
    </div>
    <div class="form-group">
        <label for="population">Population</label>
        <input type="number" id="population" name="population" />
    </div>
    <div class="form-group">
        <label for="density">Density</label>
        <input type="number" id="density" name="density" />
    </div>
    <div class="form-group">
        <label for="area">Area</label>
        <input type="text" id="area" name="area" />
    </div>
    <div class="form-group">
        <label for="data">Data</label>
        <textarea name="data" id="data" class="form-control" required></textarea>
    </div>
    <input type="submit" class="btn btn-success" value="Add">
</form>
{% endblock %}